ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
  }
  
  li {
    float: left;
    border-right: 1px solid #bbb
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
  }
  
  
  li a:hover:not(.active) {
    background-color: wheat;
  }
  .active {
    background-color: hsl(158, 27%, 24%);
  }
  footer {
    background-color: #F1F1F1;
    text-align: center;
    padding: 10px;
  }
 